.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    text-align: center; 
}

.home-container h1 {
    font-size: 2.5em;
    color: #282c34;
}

.home-container p {
    font-size: 1.2em;
    color: #555;
}
