/* Home Container Styles */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    cursor: none; /* Hide the default cursor */
}

/* Image Style */
.home-container img {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
}

/* Title Styles with Reduced Spacing */
.home-container h1,
.home-container h2 {
    font-size: 2em;
    color: #282c34;
    margin: 5px 0;
}

/* Highlighted Word Style */
.highlighted-word {
    color: rgb(156, 59, 55);
    font-style: italic;
}

/* Social Links Container */
.social-links-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

/* Social Icon Styles */
.social-link {
    margin: 0 10px;
}

.social-icon {
    width: 40px !important;
    height: 40px !important;
}

/* Custom Cursor Style */
.custom-cursor {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
