/* Desktop Background */
.layout {
    background-image: url('../assets/finalbackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

.inter-title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


/* Mobile-specific Background */
@media (max-width: 768px) {
    .layout {
        background-image: url('../assets/mobilebackground.svg'); /* Mobile-specific background */
    }
}
