/* General Navbar Styles */
.navbar {
    background-color: #282c34;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #61dafb;
}

.brand a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white; /* White text color */
    font-weight: bold; /* Bold text */
    text-decoration: none; /* Remove underline */
}


/* Desktop view - hide the hamburger icon */
.hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger icon */
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #282c34;
        flex-direction: column;
        width: 100%;
        max-width: 200px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        padding: 10px 20px;
        display: none;
    }

    /* Toggle the dropdown menu */
    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
    }
}
